body {
    background-color: rgb(6, 0, 0);
    color: blue;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
}

h1 {
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px 10px;
    font: small-caps bold 24px/1 sans-serif;
    text-align: left;
    font-size: 32px;
    color: rgb(75, 241, 42);
    background-color: rgba(0, 40, 0, 5); 
    border-radius: 8px; 
  }

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(229, 115, 115);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 500px;  /* This is the width of the popup */
}

#mini-canvas-container {
    width: 100%;  /* Set the width to 100% of the parent, which is the popup */
    height: 400px;
    border: 1px solid red;
}

ul {
    list-style-type: none;        
    padding: 0;
    margin: 0;
}

li {
    padding: 5px 0;              
}

